@media only screen and (max-width: 450px) {
    form{
       
        width: 90%;
        height: 380px;
        border-radius: 10px;
    }
    .form_top_text{
        font-size: 32px;
        margin-bottom: 16px;
        margin-top: 8px;
    }
    .form_inputs{
        height: 35px;
        margin-bottom: 25px;
        width: 80%;
        font-size: 21px;
    }
    textarea{
        width: 80%;
        font-size: 21px;
        border-radius: 15px;
    }
    .form_submit{
        margin-bottom: 10px;
        width: 150px;
        height: 30px;
        font-size: 32px;
    }
    
}
