@media only screen and (max-width: 450px) {

    .petals{
        left: -28px;
    }
    .petal{
        width: 80px;
    }
    .main_block{
        width: 370px;
        height: 470px;
        grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
        margin-bottom: 60px;
    }
    .main_block_inner_1{
        justify-items: center;
        align-items: start;
        margin-top: 5px;
    }
    .logo_ct{
        width: 90px;
    }
    .text_name{
        font-size: 22px;
    }
    .text_connect{
        font-size: 18px;
    }
    .icons_social_webs{
        width: 18px;
    }
    .main_block_inner_2{
        width: 340px;
        font-size: 18px;
        margin-top: 25px;
    }
    .text_details{
        font-size: 24px;
        margin-top: 10px;
    }
    .block_text_infomation{
        margin-top: 5px;
    }

}
