.sec1{
    align-items: center;
    justify-content: center;
}
.animation_area{
    align-items: center;
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.runing_text{
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 65px;
    color: white;
}