@media only screen and (max-width: 450px) {

    .block_faq{
        width: 370px;
        height: 480px;
    }
    .header_faq{
        font-size: 64px;
    }
    .questions{
        height: 70%;
    }
    .question{
        width: 300px;
        height: 85px;
        grid-template-columns: 85% 10%;
    }

    .answer{
        width: 350px;
        height: 95%;
    }
    .question_name{
        font-size: 36px;
    }
    .answered_text{
        font-size: 18px;
    }
    .img_arrow_back{
        width: 40px;
    }
}
