@media only screen and (max-width: 1536px) {
    .works_content{
        margin-top: 50px;
    }
    .info_block{
        width:215px;
    }
    .photo_project{
        width:200px;
    }

}
@media only screen and (max-width: 1366px) {
    .works_content{
        margin-top: 50px;
    }
    .info_block{
        width:215px;
    }
    .photo_project{
        width:200px;
    }

}
@media only screen and (max-width: 1024px) {
    .info_block{
        width:190px;
    }
    .photo_project{
        width:175px;
    }
    .project_name{
        font-size: 28px;
    }

}
@media only screen and (max-width: 450px) {
    .header_content{
        font-size: 96px;
        margin-top: 25px;
    }
    .works_info{
        justify-content: center;
        align-items: center;
    }
    .info_block{
        height: 250px;
        width: 120px;
        margin-right: 5px;
    }
    .photo_project{
        width: 120px;
    }
    .project_name{
        font-size: 21px;
    }
    .comming_soon{
        font-size: 16px;
    }
    .date_out{
        margin-right: 10px;
    }
}
@media only screen and (max-height: 450px) {
    .header_content{
        font-size: 56px;
    }
    .info_block {
        width: 150px;
        height: 200px;
    }
    .photo_project{
        width: 150px;
    }
    .project_name {
        font-size: 20px;
    }
    .comming_soon {
        font-size: 18px;
    }
    .date_out{
        margin-right: 15px;
    }
}
