@media only screen and (max-width: 1366px) {
    body{
        overflow: hidden;
    }
    /* header */
    header{
        width: 100%;
    }
    .header_logo_link{
        margin-left: 150px;
    }  
    .clevertech_logo{
        width: 40px;
    }
    .logo_name{
        margin-left: 10px;
        font-size: 36px;
    }
    nav{
        font-size: 18px;
    }



    footer{
        width: 700px;
    }

    .footer_links{
        font-size: 18px;
        margin:auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 450px) {
    body{
        overflow: hidden;
    }
    /* header */
    header{
        width: 100%;
    }
    .header_logo_link{
        margin-left: 30px;
    }
    .clevertech_logo{
        width: 35px;
    }
    .logo_name{
        margin-left: 10px;
        font-size: 26px;
    }
    nav{
        display: none;
    }

    .hide{
        display: none!important;
    }

    .menu{
        width: 30px;
        float: right;
        margin-right: 50px;
    }
    .navig{
        background-color: #e1e1e1;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 100;
        text-align: center;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header_links{
        font-size: 54px;
        margin-right: 0;
    }
    .image_back{
        width: 30px;
        margin-top: 20px;
    }

    /* Footer */
    footer{
        width: 390px;
    }

    .footer_links{
        font-size: 16px;
        margin:auto;
    }
}
